<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Thermostat app">

  <title>Bowlingo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="/scorecard.css">
</head>

<body>
  <div class="col-xl-12 pl-0 pr-0 main-wrapper">

    <div class="ball-container row col-xl-12">
      <div class="ball-holder col-xl-6 ml-2">
        <div class="ball-gradient"></div>
        <div class="ball">
          <div class="finger-hole"></div>
          <div class="finger-hole"></div>
          <div class="finger-hole"></div>
        </div>
      </div>
      <div class="ball-holder offset-xl-11 col-xl-6 mr-3">
        <div class="ball-gradient"></div>
        <div class="ball">
          <div class="finger-hole"></div>
          <div class="finger-hole"></div>
          <div class="finger-hole"></div>
        </div>
      </div>
    </div>

    <div class="title">
      <h1>Bowlingo Scorecard</h1>
    </div>

    <div class="scorecard col-xl-12">
      <table id="scorecardTable" aria-describedby="Scorecard Table" class="scorecard">
        <tr>
          <th colspan="6" id="frame-1-header">Frame 1</th>
          <th colspan="6" id="frame-2-header">Frame 2</th>
          <th colspan="6" id="frame-3-header">Frame 3</th>
          <th colspan="6" id="frame-4-header">Frame 4</th>
          <th colspan="6" id="frame-5-header">Frame 5</th>
          <th colspan="6" id="frame-6-header">Frame 6</th>
          <th colspan="6" id="frame-7-header">Frame 7</th>
          <th colspan="6" id="frame-8-header">Frame 8</th>
          <th colspan="6" id="frame-9-header">Frame 9</th>
          <th colspan="9" id="frame-10-header">Frame 10</th>
        </tr>
        <tr>
          <td colspan="3" id="frame-1-points-1"></td>
          <td id="frame-1-points-2" colspan="3"></td>
          <td colspan="3" id="frame-2-points-1"></td>
          <td id="frame-2-points-2" colspan="3"></td>
          <td colspan="3" id="frame-3-points-1"></td>
          <td id="frame-3-points-2" colspan="3"></td>
          <td colspan="3" id="frame-4-points-1"></td>
          <td id="frame-4-points-2" colspan="3"></td>
          <td colspan="3" id="frame-5-points-1"></td>
          <td id="frame-5-points-2" colspan="3"></td>
          <td colspan="3" id="frame-6-points-1"></td>
          <td id="frame-6-points-2" colspan="3"></td>
          <td colspan="3" id="frame-7-points-1"></td>
          <td id="frame-7-points-2" colspan="3"></td>
          <td colspan="3" id="frame-8-points-1"></td>
          <td id="frame-8-points-2" colspan="3"></td>
          <td colspan="3" id="frame-9-points-1"></td>
          <td id="frame-9-points-2" colspan="3"></td>
          <td colspan="3" id="frame-10-points-1"></td>
          <td id="frame-10-points-2" colspan="3"></td>
          <td id="frame-10-points-3" colspan="3"></td>
        </tr>
        <tr>
          <td colspan="6" id="frame1"></td>
          <td colspan="6" id="frame2"></td>
          <td colspan="6" id="frame3"></td>
          <td colspan="6" id="frame4"></td>
          <td colspan="6" id="frame5"></td>
          <td colspan="6" id="frame6"></td>
          <td colspan="6" id="frame7"></td>
          <td colspan="6" id="frame8"></td>
          <td colspan="6" id="frame9"></td>
          <td colspan="9" id="frame10"></td>
        </tr>
      </table>
    </div>

    <div class="scorecard-entry pt-3 pb-3 col-xl-10 offset-xl-1">
      <h1 class="pb-3">Please Enter Your Score:</h1>
      <button class="score-button col-xl-1 btn btn-danger" id="btn0" value="0" type="button">Gutter</button>
      <button class="score-button col-xl-1 btn btn-danger" id="btn1" value="1" type="button">1</button>
      <button class="score-button col-xl-1 btn btn-danger" id="btn2" value="2" type="button">2</button>
      <button class="score-button col-xl-1 btn btn-warning" id="btn3" value="3" type="button">3</button>
      <button class="score-button col-xl-1 btn btn-warning" id="btn4" value="4" type="button">4</button>
      <button class="score-button col-xl-1 btn btn-warning" id="btn5" value="5" type="button">5</button>
      <button class="score-button col-xl-1 btn btn-success" id="btn6" value="6" type="button">6</button>
      <button class="score-button col-xl-1 btn btn-success" id="btn7" value="7" type="button">7</button>
      <button class="score-button col-xl-1 btn btn-success" id="btn8" value="8" type="button">8</button>
      <button class="score-button col-xl-1 btn btn-success" id="btn9" value="9" type="button">9</button>
      <button class="score-button col-xl-1 btn btn-success" id="btn10" value="10" type="button">Strike</button>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
    integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <script src="/interface.js"></script>
  <script src="/frame.js"></script>
  <script src="/finalFrame.js"></script>
  <script src="/game.js"></script>
  <script src="/player.js"></script>
</body>

</html>